# محیط مجازی پایتون (نباید در گیت‌هاب ذخیره شود)
venv/
.venv/

# فایل‌های موقت پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های محیطی و رمزها
.env

# فایل‌های سیستمی ویندوز و مک
.DS_Store
Thumbs.db

# پوشه‌های خروجی و لاگ‌ها
output/
*.log